* {
	/*
		padding y border se aplicara dentro de las medidas width y height.
		asi dos elementos con el mismo ancho y alto 
		pero diferentes separaciones serán del mismo tamaño
	*/
	margin: 0%;
	padding: 0%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1,section,article,a,p{
	border: 1px solid DarkOrange;
}

h2{
	width: 100%;
	background: moccasin;
}

a{
	width: 100%;
}

section,footer{
	width: 33%;
	float: left;
}

h1,section{
	text-align: center;
}

